# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# Laravel
/vendor/
/node_modules/
.env
.env.backup
.env.production
/storage/*.key
/bootstrap/cache/
/public/hot
/public/storage
/public/build/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Compiled assets
/public/css/
/public/js/
/public/mix-manifest.json

# PHPUnit
.phpunit.result.cache
.phpunit.cache/

# Testing
/coverage/
